<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../../public/css/forms.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <div class="centered">
      <form action="/login">
        <button type="submit">Login</button>
      </form>
      <form action="/signup">
        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>
