<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../../public/css/forms.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <h1>Signup Page</h1>
    <div class="centered">
      <form action="/signup" method="POST">
        <input type="text" id="name" name="name" />
        <input type="text" id="identity" name="identity" />
        <input type="password" id="password" name="password" />
        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>
